[Desktop Entry]
Name=Cloudy AF
Comment=Configuration Tool for Vape Battery Mods with Arcticfox Firmware
Exec=arcticfox-config
Icon=org.cloudy.af
Type=Application
Categories=Utility;Electronics;
Terminal=false
